<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/aa044f19-5bf4-4701-9d1a-eec7ed6c3769/resourceGroups/Sparrow/providers/Microsoft.Web/sites/Hollow-Staging</ResourceId>
    <ResourceGroup>Sparrow</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://hollow-staging.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://hollow-staging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>REDACTED</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>